* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(187, 235, 235);
    display: flex;
}

/* img {
    width: 100px;
    background-color: lightgrey;
} */

.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: auto;
    /* aggiungo l'effetto 3d al flip della card */
    perspective: 1000px;
}

.memory-card {
    /* qui ho guardato su internet come utilizzare cal con altezza e larghezza */
    width: calc(25% - 10px);
    height: calc(33% - 10px);
    /* border: 2px solid yellow; */
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    /* qui ho guardato su internet come fare l'effetto 3d */
    transition: transform .3s;

}

.memory-card:active {
    transform: scale(.90);
    transition: transform .3s;
    /* ricordati di mettere il transform anche su memory-card altrimenti non funziona bene */
}

.front-face, .back-face {
    border: 2px solid blue;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(69, 61, 61);
    backface-visibility: hidden;
    /* anche questo backface l'ho cercato su internet */
}

.front-face {
    transform: rotateY(180deg);
    /* in questo modo riesco a vedere l'immagine (card) che c'è sotto */
}

.memory-card.flip {
    transform: rotateY(180deg);
}

/* AGGIUNGERE L'EFFETTO 3D AL GIRARE DELLA CARD */